<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusPulse AI</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<div class="container">

    <nav class="menu">

<a href="#" class="active">
<i class="fa-solid fa-house"></i>
<span>Mission Control</span>
</a>

<a href="#">
<i class="fa-solid fa-brain"></i>
<span>AI Insights</span>
</a>

<a href="#">
<i class="fa-solid fa-chart-line"></i>
<span>Analytics</span>
</a>

<a href="#">
<i class="fa-solid fa-triangle-exclamation"></i>
<span>Issue Intelligence</span>
</a>

<a href="#">
<i class="fa-solid fa-map-location-dot"></i>
<span>Campus Map</span>
</a>

<a href="#">
<i class="fa-solid fa-utensils"></i>
<span>Smart Dining</span>
</a>

<a href="#">
<i class="fa-solid fa-calendar-days"></i>
<span>Academic Flow</span>
</a>

<a href="#">
<i class="fa-solid fa-gear"></i>
<span>Workspace</span>
</a>

</nav>

    <!-- Main Content -->

    <main class="main-content">

        <!-- Navbar -->

        <header class="navbar">

    <div class="nav-left">

        <h2>CampusPulse AI</h2>

        <p>AI Operating System for Smart Universities</p>

    </div>

    <div class="nav-right">

        <div class="status">

            <span class="dot"></span>

            System Online

        </div>

        <div class="profile">

            <div class="avatar">G</div>

            <div>

                <h4>Greeshma</h4>

                <small>Administrator</small>

            </div>

        </div>

    </div>

</header>

        <!-- Dynamic Page -->

        <section class="content">

            {% block content %}

            {% endblock %}

        </section>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>