<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusPulse AI</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <!-- Sidebar -->

    <aside class="sidebar">

        <h2>🎓 CampusPulse AI</h2>

        <ul>

    <li class="active">📊 Dashboard</li>

    <li>🍽 Mess</li>

    <li>🛠 Complaints</li>

    <li>📅 Timetable</li>

    <li>📈 Analytics</li>

    <li>⚙ Settings</li>

</ul>

    </aside>

    <!-- Main Content -->

    <main class="main-content">

        <!-- Navbar -->

        <header class="navbar">

            <h3>Welcome Greeshma 👋</h3>

        </header>

        <!-- Dynamic Page -->

        <section class="content">

            {% block content %}

            {% endblock %}

        </section>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>